.footer {
  height: 80px;
  background: #3D4050;

  &__container {
    max-width: 1172px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: .1s all;
  }

  &__copyright {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    white-space: nowrap;
  }

  &__services {
    display: flex;
    align-items: center;
    gap: 38px;

    &-item {
      display: flex;
      align-items: center;
      gap: 10px;

      &-img {
        width: 20px;
        height: 20px;
        user-select: none;
      }

      &-name {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #C3C3C3;
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 38px;

    &-link {
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;

      &-img {
        height: 20px;
        width: 20px;
        user-select: none;
      }

      &-text {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
        white-space: nowrap;
      }
    }
  }

  &__separator {
    width: 1px;
    height: 18px;
    background: #C3C3C3;
  }
}

@media screen and (max-width: 1400px) {
  .footer {
    &__container {
      max-width: 1000px;
      gap: 30px;
    }

    &__services {
      gap: 30px;

      &-item {
        gap: 8px;
      }
    }

    &__socials {
      gap: 30px;

      &-link {
        gap: 8px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    &__container {
      max-width: 900px;
      gap: 20px;
    }

    &__services {
      gap: 20px;

      &-item {
        gap: 6px;
      }
    }

    &__socials {
      gap: 20px;

      &-link {
        gap: 6px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .footer {
    height: 60px;

    &__container {
      max-width: 100%;
      margin: 0 5vw;
      gap: 16px;
      justify-content: center;
    }

    &__copyright {
      font-size: 12px;
      width: 220px;
      white-space: normal;
    }

    &__services {
      gap: 16px;

      &-item {
        gap: 5px;

        &-img {
          width: 18px;
          height: 18px;
        }

        &-name {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }

    &__socials {
      gap: 16px;

      &-link {
        gap: 5px;

        &-img {
          height: 18px;
          width: 18px;
        }

        &-text {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    height: 140px;

    &__separator {
      display: none;
      justify-content: center;
    }

    &__container {
      gap: 20px;
      justify-content: center;
      flex-direction: column;
    }

    &__copyright {
      font-size: 12px;
      width: 100%;
      white-space: normal;
      text-align: center;
      font-size: 15px;
      line-height: 18px;
    }

    &__services {
      gap: 20px;

      &-item {
        gap: 8px;

        &-img {
          width: 20px;
          height: 20px;
        }

        &-name {
          font-size: 15px;
          line-height: 18px;
        }
      }
    }

    &__socials {
      gap: 20px;

      &-link {
        gap: 8px;

        &-img {
          height: 20px;
          width: 20px;
        }

        &-text {
          font-size: 15px;
          line-height: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .footer {
    height: 160px;

    &__services {
      gap: 18px;

      &-item {
        gap: 6px;

        &-img {
          width: 18px;
          height: 18px;
        }

        &-name {
          font-size: 14px;
          line-height: 16px;
          width: min-content;
        }
      }
    }

    &__socials {
      gap: 18px;

      &-link {
        gap: 6px;

        &-img {
          height: 18px;
          width: 18px;
        }

        &-text {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
}
