.main-info {
  height: 850px;
  background: url("../images/main_bg.jpg") no-repeat;
  background-position: right 0;

  &__container {
    max-width: 1172px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 203px;
    transition: .1s all;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    width: 780px;
    transition: .1s all;

    &-regular {
      color: #000000;
    }

    &-highlight {
      color: #3E9CDC;
    }
  }

  &__buttons {
    display: flex;
    justify-content: start;
    gap: 30px;
  }
}

@media screen and (min-width: 1920px) {
  .main-info {
    background-size: cover;
  }
}

@media screen and (max-width: 1400px) {
  .main-info {
    background: linear-gradient(to right, rgba(39, 39, 51, 0.65) 0 100%), url("../images/main_bg.jpg") no-repeat;
    background-position: right;

    &__container {
      max-width: 1000px;
    }

    &__title {
      &-regular {
        color: #FFFFFF;
      }
    }

    &__title {
      width: 580px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .main-info {
    &__container {
      max-width: 900px;
    }
  }
}

@media screen and (max-width: 992px) {
  .main-info {
    background-size: cover;
    height: 680px;

    &__container {
      max-width: 100%;
      margin: 0 5vw;
      padding-top: 150px;
      gap: 60px;
    }

    &__title {
      font-size: 44px;
      line-height: 50px;
      width: 520px;
    }
  }
}

@media screen and (max-width: 768px) {
  .main-info {
    height: 600px;
    background-position: right;

    &__container {
      padding-top: 120px;
      align-items: center;
      text-align: center;
    }
  }
}

@media screen and (max-width: 576px) {
  .main-info {
    min-height: 550px;
    background-position: right;

    &__container {
      padding-top: 100px;
      gap: 40px;
    }

    &__title {
      font-size: 32px;
      line-height: 36px;
      width: 90vw;
      text-align: center;
    }
  }
}

@media screen and (max-width: 400px) {
  .main-info {
    &__title {
      font-size: 28px;
      line-height: 32px;
    }

    &__buttons {
      flex-direction: column;
      gap: 20px;
    }
  }
}
