.order-making {
  background: linear-gradient(to right, rgba(39, 39, 51, 0.9) 0 100%), url("../images/map_bg.png") no-repeat;
  background-position: 0 -50px;
  background-color: #272733;

  &__container {
    max-width: 1172px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    transition: .1s all;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    text-align: center;

    &-regular {
      color: #FFFFFF;
    }

    &-highlight {
      color: #3E9CDC;
    }
  }

  &__description {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #BBBBBB;
  }
}

@media screen and (max-width: 1400px) {
  .order-making {
    &__container {
      max-width: 1000px;
    }

    &__title {
      width: 580px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .order-making {
    &__container {
      max-width: 900px;
    }

    background-position: 0 50%;
    background-size: contain;
  }
}

@media screen and (max-width: 992px) {
  .order-making {
    background-position: center;
    background-size: cover;

    &__container {
      max-width: 715px;
      padding-top: 100px;
      padding-bottom: 120px;
      gap: 80px;
    }

    &__title {
      font-size: 34px;
      line-height: 38px;
    }

    &__description {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .order-making {
    &__container {
      max-width: 520px;
      padding-top: 100px;
      padding-bottom: 120px;
      gap: 80px;
    }

    &__title {
      font-size: 34px;
      line-height: 38px;
      width: 520px;
    }

    &__description {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 576px) {
  .order-making {
    &__container {
      max-width: 520px;
      padding-top: 80px;
      padding-bottom: 90px;
      gap: 80px;
    }

    &__text-container {
      gap: 20px;
    }

    &__title {
      font-size: 28px;
      line-height: 30px;
      width: 380px;
    }

    &__description {
      font-size: 14px;
      line-height: 18px;
      width: 380px;
    }
  }
}

@media screen and (max-width: 400px) {
  .order-making {
    &__container {
      max-width: 520px;
      gap: 80px;
    }

    &__title {
      font-size: 28px;
      line-height: 30px;
      width: 300px;
    }

    &__description {
      font-size: 14px;
      line-height: 18px;
      width: 300px;
    }
  }
}
